{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Нұр-Білім | Бастапқы бет
{% endblock %}
{% block content %}
<div id="carouselExampleFade" class="carousel slide carousel-fade mt-3" data-bs-ride="carousel">
    <div class="carousel-inner container">
      <div class="carousel-item active">
        <img src="{% static 'main/images/banner1.jpg''%}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'main/images/banner2.jpg''%}" class="d-block w-100" alt="...">
      </div>
      <!-- <div class="carousel-item">
        <img src="{% static 'main/images/33.jpg''%}" class="d-block w-100" alt="...">
      </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
    <div class="container fd-column">
        <div class="greeting block">
            {% if request.user.is_authenticated %}
            {% if request.user.role == "student" %}
            <p class="last_news">Ашық курстар: </p>

            <ol >
            {% for course in available_courses %}
                <li class="block">
                    <form action="{% url 'add to course' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{course.id}}">
                        <input type="hidden" name="email" value="{{request.user}}">
                        <div class="course ">
                            <p class="fw-700">Курстың аты: </p>
                            {{course.name}}
                        </div>
                        <div class="course">
                            <p class="fw-700">Оқытушы: </p>
                            {{course.creater_name}}
                            {{course.creater_surname}}
                        </div>
                        <div class="course">
                            <p class="fw-700">Поштасы: </p>
                            {{course.creater_email}}
                        </div>
                        <button type="submit">Қурсқа жазылу</button>
                    </form>
                </li>
            {%endfor%}
        </ol>

        </div>
        {% endif %}
        {% endif %}
        <div class="greeting block">
            

            <p class="last_news">Соңғы жаңалықтар: </p>
            <div class="block inside">
                
                <div class="news">
  
                    <div class="title">Гранттарға тағайындау</div>
                    <div class="author"><span style="font-weight: 500;">Автор: </span> Бахытжан Армановна</div>
                    <div class="date"><span style="font-weight: 500;">Дата: </span>21:29 10.02.2022</div>
                    <div class="content">Құрметті студенттер! Сізге AITU СҒЗЖ конкурсын өткізу туралы хабарлаймыз. Байқауға AITU білім беру бағдарламаларының бағыты бойынша студенттердің ғылыми-зерттеу жұмыстары қабылданады. СҒЗЖ конкурсының ЖОО ішіндегі кезеңі жеңімпаздарының жұмыстары республикалық СҒЗЖ конкурсының ІІ кезеңіне базалық жоғары оқу орындарына жіберіледі. СҒЗЖ республикалық конкурсының жүлдегерлері Білім және ғылым министрлігінің I, II, III дәрежелі дипломдарымен марапатталады, оларға комиссия қарағаннан кейін келесі триместрдің кредиттерін қайта есептеу мүмкіндігі беріледі. 1 наурыздың соңғы күнінде оқытушылар арасында ғылыми жетекші табыңыз. Толығырақ https://astanait.edu.kz/2022/01/25/konkurs-nauchno-issledovatelskih-rabot толық ақпарат алу үшін ғылым және инновациялар департаментіне хабарласуыңызды сұраймыз: zhansaya.makhambetova@astanait.edu.kz</div>
                    <div class="files"></div>
                </div>
                
            </div>
            <div class="block inside">
                <div class="news">
                    <div class="title">"Студенттердің қанағаттануын талдау" тақырыбына сауалнама</div>
                    <div class="author"><span style="font-weight: 500;">Автор: </span> Темирлан Мырзагалиев</div>
                    <div class="date"><span style="font-weight: 500;">Дата: </span>21:29 10.02.2022</div>
                    <div class="content">
                        <span><strong> Сауалнамадан өту міндетті – «Оқушылардың қанағаттану талдауы»</strong><br>

                            ▫️ Сіздерді қанағаттану сауалнамасына қатысуға шақырамыз. <br>
                            
                            Бұл сауалнаманың мақсаты өткен 2021-2022 триместрдегі пәндерді оқытудың жай-күйін талдау болып табылады. <br>
                            
                            Сауалнаманы толтыру шамамен 7-10 минутты алады.<br>
                            
                            Орындау мерзімі: 23.12.2021 сағат 18:00 дейін <br>
                            
                             Сауалнамаға сілтемелер:<br>
                            
                             <strong>1 курс</strong>
                            
                            https://forms.gle/mapR6QYZEVyJNk2X6 <br>
                            
                            <strong>2 курс</strong>

                            
                            https://forms.gle/8TCTJQPu3wGM6KGeA <br>
                            
                            <strong>2 курс</strong>

                            
                            https://forms.gle/pdUWdmaUQWmbhP9a9 <br>
                            
                            Ынтымақтастығыңыз үшін рахмет!
                            
                            Құрметпен,
                            
                            АИТУ сапаны қамтамасыз ету және деканат.</span>
                    </div>
                    <div class="files"></div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}